config SHIELD_NICE_KB_LEFT
	def_bool $(shields_list_contains,nice_kb_left)

config SHIELD_NICE_KB_RIGHT
	def_bool $(shields_list_contains,nice_kb_right)

config SHIELD_NKBTEST
	def_bool $(shields_list_contains,nkbtest)

config SHIELD_NKBSCROLL
	def_bool $(shields_list_contains,nkbscroll)

config SHIELD_NKBINERTIA
	def_bool $(shields_list_contains,nkbinertia)

config SHIELD_NKBROTATE
	def_bool $(shields_list_contains,nkbrotate)
