if SHIELD_NICE_KB_LEFT

config ZMK_KEYBOARD_NAME
	default "nice_kb"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif # SHIELD_NICE_KB_LEFT

if SHIELD_NICE_KB_LEFT || SHIELD_NICE_KB_RIGHT

config ZMK_SPLIT
	default y

endif

if SHIELD_NKBTEST

config ZMK_KEYBOARD_NAME
	default "nkbtest"

endif # SHIELD_NKBTEST

if SHIELD_NKBSCROLL

config ZMK_KEYBOARD_NAME
	default "nkbscroll"

endif # SHIELD_NKBSCROLL

if SHIELD_NKBINERTIA

config ZMK_KEYBOARD_NAME
	default "nkbinertia"

endif # SHIELD_NKBINERTIA

if SHIELD_NKBROTATE

config ZMK_KEYBOARD_NAME
	default "nkbrotate"

endif # SHIELD_NKBROTATE

if SHIELD_NKBTUNE_A

config ZMK_KEYBOARD_NAME
	default "nkbtune_a"

endif # SHIELD_NKBTUNE_A

if SHIELD_NKBTUNE_B

config ZMK_KEYBOARD_NAME
	default "nkbtune_b"

endif # SHIELD_NKBTUNE_B

if SHIELD_NKBTUNE_C

config ZMK_KEYBOARD_NAME
	default "nkbtune_c"

endif # SHIELD_NKBTUNE_C

if SHIELD_NKBTUNE_D

config ZMK_KEYBOARD_NAME
	default "nkbtune_d"

endif # SHIELD_NKBTUNE_D

if SHIELD_NKBTUNE_E

config ZMK_KEYBOARD_NAME
	default "nkbtune_e"

endif # SHIELD_NKBTUNE_E

if SHIELD_NKBTUNE_F

config ZMK_KEYBOARD_NAME
	default "nkbtune_f"

endif # SHIELD_NKBTUNE_F

if SHIELD_NKBTUNE_600

config ZMK_KEYBOARD_NAME
	default "nkbtune_600"

endif # SHIELD_NKBTUNE_600

if SHIELD_NKBTUNE_700

config ZMK_KEYBOARD_NAME
	default "nkbtune_700"

endif # SHIELD_NKBTUNE_700

if SHIELD_NKBTUNE_800

config ZMK_KEYBOARD_NAME
	default "nkbtune_800"

endif # SHIELD_NKBTUNE_800

if SHIELD_NKBTUNE_900

config ZMK_KEYBOARD_NAME
	default "nkbtune_900"

endif # SHIELD_NKBTUNE_900
