/* Snap-scroll, 7 cyclable sensitivity presets.
   base: key0 = enter scroll (starts 1/2), key1 = studio_unlock, key2 = A.
   scroll layers: key0 = exit, key1 = slower, key2 = faster.
   ratios (layer): L1=1/1 L2=1/2 L3=1/4 L4=1/8 L5=1/12 L6=1/16 L7=1/20 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        base {
            display-name = "Cursor";
            bindings = <
   &to 2 &studio_unlock &kp A &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
            >;
        };
        s1_1_1 {
            display-name = "1/1";
            bindings = <
   &to 0 &to 2 &none &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
            >;
        };
        s2_1_2 {
            display-name = "1/2";
            bindings = <
   &to 0 &to 3 &to 1 &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
            >;
        };
        s3_1_4 {
            display-name = "1/4";
            bindings = <
   &to 0 &to 4 &to 2 &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
            >;
        };
        s4_1_8 {
            display-name = "1/8";
            bindings = <
   &to 0 &to 5 &to 3 &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
            >;
        };
        s5_1_12 {
            display-name = "1/12";
            bindings = <
   &to 0 &to 6 &to 4 &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
            >;
        };
        s6_1_16 {
            display-name = "1/16";
            bindings = <
   &to 0 &to 7 &to 5 &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
            >;
        };
        s7_1_20 {
            display-name = "1/20";
            bindings = <
   &to 0 &none &to 6 &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
   &none &none &none &none &none &none &none &none &none &none &none &none
            >;
        };
    };
};
